@font-face {
    font-family: Helvetica;
    src: url("../fonts/HelveticaNeue-Light.otf");
}

body {
    background-color: rgb(228, 231, 234);
    background-image: url(../assets/element.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    font-family: Helvetica;
}

.main-part {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    height: 12rem;
    text-align: center;
    image-rendering: crisp-edges;
}

footer a:hover {
    color: red;
}

.menu-bar>div {
    padding: 2rem;
    border: 2px solid black;
    text-align: center;
}


.registered-logo {
    width: 250px;
    height: 70px;
}

.text-carousel {
    font-size: 80px;
    width: 50%;
    text-align: center;
}

.seemore-btn {
    color: rgb(97, 96, 96);
    margin-bottom: 10rem;
    padding: 10px 12px;
    border: 1px solid rgb(0, 0, 0);
}


.aboutme-btn {
    color: rgb(97, 96, 96);
    background-color: transparent;
    border: none;
    position: absolute;
    margin-top: 5rem;
    margin-left: 30rem;
}

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 220px;
    border-radius: 50%;
}

.name {
    font-size: 50px;
}

.description {
    margin-top: 30px;
}

.social-networks>a {
    padding: 15px 25px;
    border: 1px solid rgb(115, 104, 104);
    border-radius: 10px;
}

.product-label {
    font-size: 20px;
    font-weight: bold;
}

.articles .wrapper .title {
    font-size: 36px;
    margin-bottom: 4rem;
    font-weight: 300px;
}

.articles .wrapper .text {
    margin-bottom: 4rem;
}

.articles img {
    border: none;
    background-color: rgb(228, 231, 234);
}

.articles article {
    width: 50%;
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: end;
}

.aboutme-section {
    background-image: src("../assets/aboutme_pc.png");
}



/* DETAIL */
.banner .banner-block {
    text-align: center;
}

.banner .banner-block h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 20px;
}

.banner .banner-block p {
    margin: 3px 0;
}

.banner .banner-block a {
    background: red;
    padding: 10px 15px;
    text-transform: uppercase;
}

.banner .banner-block a:hover {
    background: pink;
}


/* RESPONSIVE */


.image_mobile {
    display: none;
}

.image_pc {
    display: block;
}

@media screen and (max-width: 768px) and (min-width: 100px) {
    .text-carousel {
        font-size: 40px;
    }

    .menu-bar {
        display: block !important;
    }

    .menu-bar>div {
        padding: 1rem;
        border: 1px solid black;
        text-align: center;
    }

    .background-container>img {
        position: relative;
        left: 55%;
    }

    .aboutme-btn {
        position: relative;
        display: block;
        margin: auto;
        text-align: center;
    }

    .image_mobile {
        display: block;
    }

    .image_pc {
        display: none;
    }
}